.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.code {
    text-align: left;
    width: 75%;
}

.rate {
    text-align: right;
    width: 25%;
}
.currencies {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
.cur-header {
    text-align: center;
}
body {
    background-color: aquamarine;
}
nav {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: gray;
}
.header1 {
    background: beige;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px 20px;
    color: rgb(92, 107, 109);
    font-size: 25px;
}