<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency List</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'converter/css/home.css' %}">
</head>
<body>
    <div class="navbar">
        <header class="header1">
            <nav>
                <h1><a href="/home" class="a_nav">Работаем</a></h1>
                <a href="/home" class="a_nav">Home</a>
                <a href="/calculator" class="a_nav">Calculator</a>
            </nav>
        </header>
    </div>
    <div class="currencies">
        <main>
            <section>
                <h2 class="cur-header">All Currencies</h2>
                <h3>Euro €</h3>
                <article class="item">
                    {% for currency in currencies %}
                        <p class="code">{{ currency.code }} - {{ currency.name }} </p><p class="rate"> {{ currency.exchange_rate|floatformat:"2" }}</p>
                    {% endfor %}
                </article>
            </section>
            <section>
                <div class="pagination">
                    <span class="step-links">
                        {% if currencies.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ currencies.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ currencies.number }} of {{ currencies.paginator.num_pages }}.
                        </span>

                        {% if currencies.has_next %}
                            <a href="?page={{ currencies.next_page_number }}">next</a>
                            <a href="?page={{ currencies.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
